@keyframes animateSvg {
    to {
        transform: translate(-50%,-10px);
    }
}

@keyframes upDown {
    to {
        transform: translateY(-5px);
    }
}

@keyframes upupdown {
    to {
        transform: translateY(-10px);
    }
}